################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/servicefabric_remoting/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/src/ServiceFabricRemoting/.vs/ServiceFabricRemoting/v15/Server/sqlite3
